/*1. body, html*/
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #333;
  font-family: "noto sans", "Gothic Al", sans-serif;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6,
ul, li, ol, dl, dt, dd,
p, pre, img {
  margin: 0;
  padding: 0;
  border: 0;
}

ul, li, ol {
  list-style: none;
}

table, thead, tbody, tfoot,
tr, th, td {
  margin: 0;
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #777;
}

abbr {
  text-decoration: none;
  text-transform: uppercase;
}

hr {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #777;
}

img, iframe, video {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  outline: 2px solid #06f;
}

a:focus {
  outline: 2px solid #f06;
}

button {
  border: 0;
  cursor: pointer;
  padding: 8px 10px;
  overflow: hidden;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #333;
}

button:hover {
  background: #1664D8;
  color: #fff;
}

button:focus {
  background: #135BC2;
  color: #fff;
}

/* html5 =============================== */
header, footer, aside, nav, section,
article, figure, figcaption {
  display: block;
  margin: 0;
  padding: 0;
}

/* form ================================ */
form, fieldset, legend {
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-indent: 0.5rem;
  cursor: pointer;
}

input:hover,
text-area:hover,
select:hover {
  background: #fdc;
}

input:focus,
text-area:focus,
select:focus {
  background: #fcd;
}

.hd {
  display: none;
  overflow: hidden;
  position: relative;
  z-index: -1;
  width: 0;
  height: 0;
}

body {
  background-color: #2b2b2b;
}

.display_none {
  display: none;
}

.contents {
  width: 100%;
}

.wrap {
  width: 320px;
  margin: auto;
  padding: 30px 0;
  height: auto;
}

.wrap .todolist_area {
  min-height: calc(100vh - 60px);
  padding: 15px 18px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.add_btn {
  all: unset;
  display: block;
  width: 100%;
  padding: 8px 0;
  border: 1px solid #767676;
  text-align: center;
}

.add_btn:hover {
  background-color: #2b2b2b;
}

.create_form {
  width: 100%;
  height: auto;
}

.create_form h2 {
  font-size: 16px;
  margin: 0 0 10px;
}

.create_form .create_header input {
  width: 90%;
  height: 30px;
}

.create_form .alaram_setting,
.create_form .time_setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0 4px;
}

.show_time .datetime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.show_time .time {
  width: 40%;
  margin: 0 0 0 5px;
}

.show_time .date {
  width: 60%;
}

.show_time .time:hover,
.show_time .date:hover {
  background-color: transparent;
}

.btn_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.btn_area .cancle_btn {
  margin: 0 10px 0 0;
}

.todolist_view {
  margin: 15px 0 0;
}

.todolist_view .list_show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.todolist_view .list_show .list_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.todolist_view .list_show .list_title p {
  width: 100%;
  line-height: 25px;
}

.heart {
  display: inline-block;
  width: 18px;
  height: 10px;
  background-color: #2b2b2b;
  border-radius: 5px 0 0 5px;
  -webkit-transform: scale(0.9) rotate(45deg) translateY(10px);
          transform: scale(0.9) rotate(45deg) translateY(10px);
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
  cursor: pointer;
}

.heart::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  background-color: #2b2b2b;
  border-radius: 5px 0 0 5px;
  -webkit-transform: rotate(450deg) translate(-4px, 10px);
          transform: rotate(450deg) translate(-4px, 10px);
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
}

.heart.check {
  background-color: #f00;
}

.heart.check::before {
  background-color: #f00;
}

.heart input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: none;
}

.toggle label {
  position: relative;
  margin: 5px 0;
  padding: 5px 0;
  cursor: pointer;
}

.toggle label input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: none;
}

.toggle label span {
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #222;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 2px 15px rgba(0, 0, 0, 0.2), inset 0 2px 2px rgba(0, 0, 0, 0.2), inset 0 -1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 2px 15px rgba(0, 0, 0, 0.2), inset 0 2px 2px rgba(0, 0, 0, 0.2), inset 0 -1px 1px rgba(0, 0, 0, 0.2);
}

.toggle label .indicator {
  position: absolute;
  top: -2px;
  left: 0;
  width: 20px;
  height: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#222));
  background: linear-gradient(to bottom, #444, #222);
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.1);
          box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1), inset 0 1px 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.toggle label .indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 5px;
  height: 5px;
  background: #f00;
  border-radius: 50%;
}

.toggle label input:checked ~ .indicator {
  left: 20px;
}

.toggle label input:checked ~ .indicator::before {
  background: #0f0;
  border-radius: 50%;
}

.complete {
  position: relative;
  display: block;
  margin: 0 10px 0 0;
  width: 25px;
  height: 25px;
  color: #2b2b2b;
  cursor: pointer;
}

.complete input[type="checkbox"] {
  -webkit-appearance: none;
}

.complete input[type="checkbox"]:checked ~ i {
  top: 1px;
  border-top: none;
  border-right: none;
  height: 8px;
  width: 15px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.complete i {
  position: absolute;
  top: 2px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #2b2b2b;
}
/*# sourceMappingURL=style.css.map */