@charset "UFT-8";

* {
  /* margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 1); */
}
body {
  height: 100vh;
  background-color: #2b2b2b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stempObj:nth-child(1){
  top: 20px;
  left: 20px;
}
.stempObj:nth-child(2){
  top: 20px;
  left: 150px;
}
.stempObj:nth-child(3){
  top: 20px;
  left: 300px;
}
.stempObj{
  position: absolute;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  background-color: #fff;
}