@charset "UFT-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 1);
}
/* body {
  height: 100vh;
  background-color: #2b2b2b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

html {
  width: 100%;
  height: 100%;
}

body {
  /* overflow: hidden; */
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
  /* display block 없으면 스크롤바생김 */
  width: 100%;
  height: 100%;
}